/* #canvas-container {
  border: 10px solid black;
  background-size: cover;
  width: 100%;
  text-align:center;
} */

html, body, header, h1, h2,
main, a, img, div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  font-family: 'Raleway',serif;
}

.screen {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.instructions {
  width: 200px;
  border: 2px solid rgb(92, 151, 224);
  padding: 0px;
  margin-right: 27px;
  margin-top: 45px;
  background-color: "blue"
}

.instructions h3 {
  display: flex;
  justify-content: center;
}

.left-arrow-instructions,
.right-arrow-instructions,
.game-play-instructions {
  padding: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.game-play-instructions {
  display: block;
}

.arrow-image {
  margin-left: 5px;
  margin-right: 5px;
}

.pancake-instructions,
.burnt-pancake-instructions {
  display: flex;
  align-items: center;
}

.burnt-pancake-instructions {
  margin-top: 10px;
}

.pancake-image,
.burnt-pancake-image {
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.nav-links {
  width: 200px;
  margin-top: 45px;
  display: flex;
  align-items: flex-end
}

.linkedin-link,
.github-link {
  padding: 7px;
  display: flex;
}

.linkedin-image,
.github-image {
  margin-left: 20px;
  margin-right: 5px;
  float: left;
}
